// CSS Helpers

/* Truncate a long one-line paragraph if does not fit */
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Center aligned text */
.center {
  text-align: center;
}

.sticky {
  position: fixed;
}