div(layout="vertical")
    md-sidenav.md-sidenav-left.md-whiteframe-z2(
        md-component-id="left",
        md-is-locked-open="$mdMedia('gt-md')"
    )
        md-toolbar
            div.md-toolbar-tools
                h2
                    a(ui-sref="home", translate="SIDENAV.MENU_HEADER")

        md-list
            md-list-item(md-ink-ripple).md-clickable
                p(translate="HELLO_WORLD")
